body {
  /* background-color: black; */
  width: 100vw;
  height: 100vh;
}

#container {
  width: 489px;
  height: 990px;

  margin: 0 auto;

  /* background-image: url("../images/apple-iphone-12-pro-max.webp"); */
  background-image: url("../images/iphone-background.png");

  background-repeat: no-repeat;
  /* background-position: center; */
}

ol li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
